.button-container {
    display: flex;
    gap: 100px;
    flex-direction: row; /* Coloca los botones en columna */
    flex-grow: 1;
    align-items: center;    /* Centra los botones horizontalmente */
    justify-content: space-between; /* Centra los botones verticalmente */       /* Asegúrate de que el contenedor tenga altura para centrar verticalmente */
    width: auto;
    //margin-left: 50px;      /* Espacio entre el video y los botones */
}

.button-container button {
    margin: 30px 0; /* Espaciado entre los botones */
    padding: 10px 15px; /* Espacio interno en los botones */
    border: none; /* Sin borde */
    border-radius: 20px; /* Bordes redondeados */
    background-color: #007BFF; /* Color de fondo */
    align-items: center;
    color: white; /* Color del texto */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    transition: background-color 0.3s ease; /* Transición suave al cambiar el color */
    width: 200px; // Establece un ancho fijo para todos los botones
    height: 80px;
}

.button-container button:hover {
    background-color: #0056b3; /* Color de fondo al pasar el mouse */
}