.proyect-text {
    margin-left: 10px;      /* Espacio entre la imagen y el texto */
    text-align: center;     /* Centra el texto */
    font-size: 24px;    
    overflow-wrap: break-word;    
    white-space: normal; /* Permite que el texto fluya normalmente */

}