
.proyect-image {
    height: 400px;          /* Mantiene la proporción de la imagen */
    transition: transform 0.3s ease, filter 0.3s ease;
    width: 600px;
    border-radius: 20px; /* Bordes redondeados */
    
}







