
.proyect-image {
    height: 200px;          /* Mantiene la proporción de la imagen */
    transition: transform 0.3s ease, filter 0.3s ease;
    width: 200px;
    border-radius: 150px; /* Bordes redondeados */
    margin-right: auto;
    object-fit: cover;
    
}







