.layout__subtitle {
    color :rgb(8, 8, 8);
    font-size: 34pt;
    margin: 0;
    padding: 10px;
    font-weight: bold;
  }

.layout__text {
  color :rgb(131, 129, 129);
  font-size: 14pt;
  margin: 0;
  padding: 5px;
}

.layout__mid-text {
  color :rgb(87, 85, 85);
  font-size: 18pt;
  margin: 0;
}
  